tensorflow==2.16.2
tensorflow-metal==1.2.0
numpy==1.26.4
opencv-python==4.9.0.80
matplotlib==3.11.0
scipy==1.17.1
pillow==12.2.0
h5py==3.14.0
requests==2.34.2
rich==15.0.0
ipykernel==7.2.0
ipython==9.14.1
jupyter_client==8.9.0